html{
    display: inline-block;
}

/* TOP NAV BAR CONTENT*/
.navbar{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0%;
    width:100%;
    height: 15%;
    
    color: #FBEAEB;
    background-color: #2F3C7E;
    
    font-family: "Rajdhani", sans-serif; 
}
.logo{
    width: 125px;
    height: 100px;
}
.navbar-heading{
    padding-left: 10px;
    font-size: 70px;
    
}

.tracker{
    
    position:absolute;
    font-family: "Rajdhani", sans-serif;
    top:77%;
    left:19%;
    
}
.tracker > h3{
    font-size:30px;
}

.track-url{
    
    font-family: "Rajdhani", sans-serif;
    position: absolute;
    
    width:100%;
    
    top:95%;
    
    text-align: center;
    
    font-size: 25px;
}

:root {
	 --input-color: #99a3ba;
	 --input-border: #cdd9ed;
	 --input-background: #fff;
	 --input-placeholder: #cbd1dc;
	 --input-border-focus: #275efe;
	 --group-color: var(--input-color);
	 --group-border: var(--input-border);
	 --group-background: #eef4ff;
	 --group-color-focus: #fff;
	 --group-border-focus: var(--input-border-focus);
	 --group-background-focus: #678efe;
}
 .track-field {
	 display: block;
     width: 100%;
     padding: 8px 16px;
	 line-height: 25px;
	 font-size: 14px;
	 font-weight: 500;
	 font-family: inherit;
	 border-radius: 6px;
	 -webkit-appearance: none;
	 color: var(--input-color);
	 border: 1px solid var(--input-border);
	 background: var(--input-background);
	 transition: border 0.3s ease;
}
 .track-field::placeholder {
	 color: var(--input-placeholder);
}
 .track-field:focus {
	 outline: none;
	 border-color: var(--input-border-focus);
}
 .track-group {
	 position: absolute;
     left:30%;
     top:80.5%;
	 display: flex;
	 width: 40%;
     font-family: "Rajdhani", sans-serif;
}
 .track-group > span, .track-group .track-field {
	 white-space: nowrap;
	 display: block;
}
 .track-group > span:not(:first-child):not(:last-child), .track-group .track-field:not(:first-child):not(:last-child) {
	 border-radius: 0;
}
 .track-group > span:first-child, .track-group .track-field:first-child {
	 border-radius: 6px 0 0 6px;
}
 .track-group > span:last-child, .track-group .track-field:last-child {
	 border-radius: 0 6px 6px 0;
}
 .track-group > span:not(:first-child), .track-group .track-field:not(:first-child) {
	 margin-left: -1px;
}
 .track-group .track-field {
	 position: relative;
	 z-index: 1;
	 flex: 1 1 auto;
	 width: 1%;
	 margin-top: 0;
	 margin-bottom: 0;
}
 .track-group > span {
	 text-align: center;
	 padding: 8px 12px;
	 font-size: 14px;
	 line-height: 25px;
	 color: var(--group-color);
	 background: var(--group-background);
	 border: 1px solid var(--group-border);
	 transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
 .track-group:focus-within > span {
	 color: var(--group-color-focus);
	 background: var(--group-background-focus);
	 border-color: var(--group-border-focus);
}



.shortened-url{
    position: absolute;
    
    width:100%;
    
    top:60%;
    
    text-align: center;
    
    font-size: 25px;
}

/* FOOTER CONTENT*/
.footer{
    
    display: inline-block;
    width: 100%;
    height: 25%;
    bottom: 0%;
    font-family: "Rajdhani", sans-serif;
    position: absolute;
    bottom: 0%;
    background-color: #FBEAEB;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    position: absolute;
    text-align: center;
    left:20%;
    top:10%;
}
.right{
    position: absolute;
    text-align: center;
    right:20%;
    top:10%;
}
.row2{
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
    font-size:10px;
}
.row2 > h3
{
    font-size: 15px;
}